@model IzvjestajUplataVM

@{
    ViewData["Title"] = "Izvještaji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style=" background-color: whitesmoke">


    <br />
    <br />
    <h4 style="text-align: center; font-style:italic; letter-spacing: 1px;font-weight:bold;">Izvještaj o broju i ukupnom iznosu uplata po sponzorima</h4>
    <br />
    <br />
    <br />

    <table class="table" style="width:85%; margin-left:5%">
        <thead>
            <tr>
                <th>Sponzor</th>
                <th>Broj uplata</th>
                <th>Ukupan iznos (KM)</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.lista)
            {
                <tr>
                    <td>@x.nazivSponzora</td>
                    <td>@x.brojUplata</td>
                    <td>@x.zarada</td>

                </tr>
            }
        </tbody>

    </table>

    <br /><br />
    <a class="btn btn-warning" asp-action="Index2" style=" margin-left:5%; width:10% "><i class="fas fa-file-pdf"></i>  PDF</a>

    </body>







