
@model IzvjestajRezervacijeVM


@{
    ViewData["Title"] = "Izvještaji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body style=" background-color: whitesmoke">


    <br />
    <br />
    <h4 style="text-align: center; font-style:italic; letter-spacing: 1px;font-weight:bold;">Izvještaj o broju rezervacija i zaradi po predstavama </h4>
    <br />
    <br />
    <br />

    <head>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

        <script>
            function generatePDF() {
                var doc = new jsPDF('p', 'pt', 'a3');

                var elementHTML = $('#content').html();

                var specialElementHandlers = {
                    '#elementH': function (element, renderer) {
                        return true;
                    }
                };

                doc.fromHTML(elementHTML, 133, 15, {
                    'width': 170,
                    'elementHandlers': specialElementHandlers
                });
                doc.save('rezervacijePoPredstavi.pdf');
            }
        </script>
    </head>


    <div id="content">
        <!-- HTML contnet goes here -->

        <table style="text-align:center;border:3px solid gray; border-radius:8px;margin:auto;">
            <thead>
                <tr>
                    <th>Predstava</th>
                    <th>Broj rezervacija</th>
                    <th>Zarada (KM)</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.lista)
                {
                    <tr>
                        <td>@x.Predstava</td>
                        <td >@x.BrojRezervacija</td>
                        <td >@x.Zarada</td>

                    </tr>
                }
            </tbody>

        </table>

    </div>

    <div id="elementH"></div>
    <br />
    <p style="text-align:center">
        <button onclick="generatePDF();" class="btn btn-warning btn-lg" style="background-color:black;color:white;"><i class="fas fa-file-pdf"></i>  Sačuvaj</button>
        <a class="btn btn-danger btn-lg" href="/Izvjestaji/Rezervacije/"><i class="fas fa-arrow-circle-left"></i> Nazad</a>
    </p>

    </body>

    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>





