@{
    ViewData["Title"] = "Početna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
    <section>
        <div class="container" >
            <header>
                <h2>Izbornik</h2>
            </header><br />

                     <main>
                         <div class="singleBlog">
                             <img src="https://cdn2.iconfinder.com/data/icons/theater-stage-performers/282/artist-show-performance-004-512.png">
                             <div class="blogContent">
                                 <a href="/Predstava/Prikazi" class="btn">Predstave</a>
                             </div>
                         </div>

                         <div class="singleBlog">
                             <img src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/user-256.png">
                             <div class="blogContent">
                                 <a href="/Glumac/Prikazi" class="btn">Glumci</a>
                             </div>
                         </div>

                         <div class="singleBlog">
                             <img src="https://cdn3.iconfinder.com/data/icons/faculty-glyph/512/communication_art_Graphics_acting_Advertising_actor_Media_creative_idea_abstract_graphic-256.png">
                             <div class="blogContent">
                                 <a href="/Prikazivanje/Prikazi" class="btn">Prikazivanja</a>
                             </div>
                         </div>

                         <div class="singleBlog">
                             <img src="https://cdn4.iconfinder.com/data/icons/hotel-and-reservation-services-glyph/64/booking_calendar_reservation-256.png">
                             <div class="blogContent">
                                 <a href="/Rezervacija/Prikazi" class="btn">Rezervacije</a>
                             </div>
                         </div>

                         <div class="singleBlog">
                             <img src="https://cdn0.iconfinder.com/data/icons/digital-marketing-2-13/50/156-256.png">
                             <div class="blogContent">
                                 <a href="/Sponzor/Prikazi" class="btn">Sponzori</a>
                             </div>
                         </div>

                         <div class="singleBlog">
                             <img src="https://cdn0.iconfinder.com/data/icons/business-660/512/266_Bank_deposit_cash_money-256.png">
                             <div class="blogContent">
                                 <a href="/Uplata/Prikazi" class="btn">Uplate</a>
                             </div>
                         </div>

                         <div class="singleBlog">
                             <img src="https://cdn0.iconfinder.com/data/icons/payments-2/66/27-256.png">
                             <div class="blogContent">
                                 <a href="/Kupac/Prikazi" class="btn">Kupci</a>
                             </div>
                         </div>

                         <div class="singleBlog">
                             <img src="https://cdn4.iconfinder.com/data/icons/cinema-movie-2/100/1-256.png">
                             <div class="blogContent">
                                 <a href="/Sala/Prikazi" class="btn">Sale</a>
                             </div>
                         </div>



                         <div class="singleBlog">
                             <img src="https://cdn1.iconfinder.com/data/icons/christmas-2442/32/Christmas_presents_gifts_birthday_christmas-512.png">
                             <div class="blogContent">
                                 <a href="/NagradnaIgra/Prikazi" class="btn">Nagardne igre</a>
                             </div>
                         </div>

                         <div class="singleBlog">
                             <img src="https://cdn2.iconfinder.com/data/icons/files-folders-3/24/files-folders-67-512.png">
                             <div class="blogContent">
                                 <a href="/Novosti/Prikazi" class="btn">Novosti</a>
                             </div>
                         </div>

                         <div class="singleBlog">
                             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRdofJSyuDBu2L8FIObmkTze3qIX7XEYvtdIBogey8goDBE04T7">
                             <div class="blogContent">
                                 <a href="/Komentar/Prikazi" class="btn">Komentari</a>
                             </div>
                         </div>

                         <div class="singleBlog">
                             <img src="https://cdn2.iconfinder.com/data/icons/maki/100/theatre-256.png">
                             <div class="blogContent">
                                 <a href="/Zanr/Prikazi" class="btn">Žanrovi</a>
                             </div>
                         </div>


                     </main>
        </div>    
 
    </section>
 
</body>

